body {
  background-image: url(https://images.pexels.com/photos/1749691/pexels-photo-1749691.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260);
}

#title {
  color: white;
  border-color: rgb(121, 101, 87);
}

#detail {
  border-color: rgb(87, 121, 87);
}
