/* https://www.pexels.com/ */

body.theme-cave {
  background-image: url(https://images.pexels.com/photos/2499862/pexels-photo-2499862.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
}

body.theme-cave #title {
  color: rgb(140, 218, 172);
}

body.theme-cave #title {
  border-color: rgb(34, 177, 202);
}

body.theme-cave #detail {
  border-color: rgb(110, 81, 44);
}
