/* https://www.pexels.com/ */


#legal {
  color: rgb(42, 60, 101);
}

h1 {
  color: hsla(218, 89%, 43%, 1);
}


.mainRoom {
    color: rgb(20, 44, 74);
    background-image: url(https://lh3.googleusercontent.com/z_36QtRzR8SdQ7p5SZHn9VlMrpYzXKKb0Mz_TpZD6eUdYrpauFw_hb5T02XjcHniibVXGMrEmG8AKpKyNPxiLB2KCfEQ32zkY8sCCcBg52r2sZtu_inWg6lkf_1D6csM6A6xIBw72-nE4K63GWAAZSlGxZCOP6IzuQkbOuHGXEyEuT1WP8O_qk0cDTvYo5IQzvFR9rFyI0AhjNomgYh8C-RY72UpC8MSBCUwi3op9lr4kwVYuJcoVWhSJoz-OxU2vthEr3-cdFPZtQCbG7zAuMaNsW5sKefjcCZOJocLMJRFyZ9azlguFV5kQ5qypGPiXxnmUPM-FWt7Vo1hWJPDI41mIS-9io--7PRe3YxgprjadFw5bFthSJ8Cgtr9lUmgcPdywB-ARWBzQqzJxSDWyb4Ji8NAiiooim1v5R3yXUjlWFrfhr81gs9-pqAINriZSyre5VGRiUuEtQkHnU9Yt4C3-ZnAuvOe1dzXmFqdudqdOTBcRq9yXgGCz93Y44IFVg2zgQacnXTeBpBGyCLedZcSb668MzNMvhZZrOsUiJIT1bQKXLYOHTLgeqYA13IoQaaLG5nNF7JhK2pUETS6iZCCaQFU0EBqhpCFKhhsYEu7qGumwlevUKXrauZrvDvWFhV76GX9aPYsOPbH7qwXyWUnN8FsfImQN9DaTGjnrl8Fgz-5L_5EZkte3uPp0A=w557-h668-no?authuser=0);
    background-size: cover;
    background-repeat: no-repeat;
}
.darknessRoom {  
    color: rgb(71, 106, 171);
    background-image: url(https://lh3.googleusercontent.com/WkRCZjniJcRGvc0A2Txs01Vr1UZYsawlr4SbuWZ6WlwZ-0h3f8Yr0eAw2P0kUe0Q_J3Y1OBeLPTt__mUwFpz2opwHCV-rMwhCedRcy62SyDAK31kUN-WP3qW2-_hg6fiFkcWPQ3gFwsf1WzW3F0f0kQJdAxwZ7qfEur-zG2mK4K6Z8wtv3wx9L-xNlgZym9TlLoIeGcNBUi9FjzYkcFTOYOD1-79Is2Tlm7vbQjrPP1uAjG3xfeq7A9PDwCYWVCaNqH6vIxvEUiwVjGHZBSwx2nlSOuj241H3BRFn9Ddj9-QOQY53sebDJTL4OR2sALnukw5dtAVTTWl3PrDeIlRsHc4UApMfRPaq2rW9fdAvLqrmrx9a-r82p4VR7HFZG7ZfeYkd-DM__JckJxNTCpqVw2iCO8ZWlXdX31M9q4NamIVVDIpzLxsV3IKHMgMdjb7jCmagNk_lzqQJLoSv0Ua3u-U_1Si8amD9eISByTnIoZaTYLYuSyP7AFH8V4v6PgGV31irHmS8OHKyj1Z5EFY4Gr5Ukdp5kONp7ETnp5EuV0H7dGpYXI3K2pZta4cUY4eUBDF1wjwgXHkSy98nB-gT5x7B41C4dxZyFnjqIkKVhopmD5Ij4eA2NuiCcBVDbM8M3ZzieaALPoLEg2T7O13gnYdZfrXI9KtOgwhg60LcGIrUDpkiBLrxR4LqBrfTQ=w556-h667-no?authuser=0);
    background-size: cover;
    background-repeat: no-repeat;
}
.stayRoom {  
  color: rgb(71, 106, 171);
  background-image: url(https://lh3.googleusercontent.com/WkRCZjniJcRGvc0A2Txs01Vr1UZYsawlr4SbuWZ6WlwZ-0h3f8Yr0eAw2P0kUe0Q_J3Y1OBeLPTt__mUwFpz2opwHCV-rMwhCedRcy62SyDAK31kUN-WP3qW2-_hg6fiFkcWPQ3gFwsf1WzW3F0f0kQJdAxwZ7qfEur-zG2mK4K6Z8wtv3wx9L-xNlgZym9TlLoIeGcNBUi9FjzYkcFTOYOD1-79Is2Tlm7vbQjrPP1uAjG3xfeq7A9PDwCYWVCaNqH6vIxvEUiwVjGHZBSwx2nlSOuj241H3BRFn9Ddj9-QOQY53sebDJTL4OR2sALnukw5dtAVTTWl3PrDeIlRsHc4UApMfRPaq2rW9fdAvLqrmrx9a-r82p4VR7HFZG7ZfeYkd-DM__JckJxNTCpqVw2iCO8ZWlXdX31M9q4NamIVVDIpzLxsV3IKHMgMdjb7jCmagNk_lzqQJLoSv0Ua3u-U_1Si8amD9eISByTnIoZaTYLYuSyP7AFH8V4v6PgGV31irHmS8OHKyj1Z5EFY4Gr5Ukdp5kONp7ETnp5EuV0H7dGpYXI3K2pZta4cUY4eUBDF1wjwgXHkSy98nB-gT5x7B41C4dxZyFnjqIkKVhopmD5Ij4eA2NuiCcBVDbM8M3ZzieaALPoLEg2T7O13gnYdZfrXI9KtOgwhg60LcGIrUDpkiBLrxR4LqBrfTQ=w556-h667-no?authuser=0);
  background-size: cover;
  background-repeat: no-repeat;
}
.waitRoom {  
  color: rgb(71, 106, 171);
  background-image: url(https://lh3.googleusercontent.com/WkRCZjniJcRGvc0A2Txs01Vr1UZYsawlr4SbuWZ6WlwZ-0h3f8Yr0eAw2P0kUe0Q_J3Y1OBeLPTt__mUwFpz2opwHCV-rMwhCedRcy62SyDAK31kUN-WP3qW2-_hg6fiFkcWPQ3gFwsf1WzW3F0f0kQJdAxwZ7qfEur-zG2mK4K6Z8wtv3wx9L-xNlgZym9TlLoIeGcNBUi9FjzYkcFTOYOD1-79Is2Tlm7vbQjrPP1uAjG3xfeq7A9PDwCYWVCaNqH6vIxvEUiwVjGHZBSwx2nlSOuj241H3BRFn9Ddj9-QOQY53sebDJTL4OR2sALnukw5dtAVTTWl3PrDeIlRsHc4UApMfRPaq2rW9fdAvLqrmrx9a-r82p4VR7HFZG7ZfeYkd-DM__JckJxNTCpqVw2iCO8ZWlXdX31M9q4NamIVVDIpzLxsV3IKHMgMdjb7jCmagNk_lzqQJLoSv0Ua3u-U_1Si8amD9eISByTnIoZaTYLYuSyP7AFH8V4v6PgGV31irHmS8OHKyj1Z5EFY4Gr5Ukdp5kONp7ETnp5EuV0H7dGpYXI3K2pZta4cUY4eUBDF1wjwgXHkSy98nB-gT5x7B41C4dxZyFnjqIkKVhopmD5Ij4eA2NuiCcBVDbM8M3ZzieaALPoLEg2T7O13gnYdZfrXI9KtOgwhg60LcGIrUDpkiBLrxR4LqBrfTQ=w556-h667-no?authuser=0);
  background-size: cover;
  background-repeat: no-repeat;
}
.stay2Room {  
  color: rgb(71, 106, 171);
  background-image: url(https://lh3.googleusercontent.com/WkRCZjniJcRGvc0A2Txs01Vr1UZYsawlr4SbuWZ6WlwZ-0h3f8Yr0eAw2P0kUe0Q_J3Y1OBeLPTt__mUwFpz2opwHCV-rMwhCedRcy62SyDAK31kUN-WP3qW2-_hg6fiFkcWPQ3gFwsf1WzW3F0f0kQJdAxwZ7qfEur-zG2mK4K6Z8wtv3wx9L-xNlgZym9TlLoIeGcNBUi9FjzYkcFTOYOD1-79Is2Tlm7vbQjrPP1uAjG3xfeq7A9PDwCYWVCaNqH6vIxvEUiwVjGHZBSwx2nlSOuj241H3BRFn9Ddj9-QOQY53sebDJTL4OR2sALnukw5dtAVTTWl3PrDeIlRsHc4UApMfRPaq2rW9fdAvLqrmrx9a-r82p4VR7HFZG7ZfeYkd-DM__JckJxNTCpqVw2iCO8ZWlXdX31M9q4NamIVVDIpzLxsV3IKHMgMdjb7jCmagNk_lzqQJLoSv0Ua3u-U_1Si8amD9eISByTnIoZaTYLYuSyP7AFH8V4v6PgGV31irHmS8OHKyj1Z5EFY4Gr5Ukdp5kONp7ETnp5EuV0H7dGpYXI3K2pZta4cUY4eUBDF1wjwgXHkSy98nB-gT5x7B41C4dxZyFnjqIkKVhopmD5Ij4eA2NuiCcBVDbM8M3ZzieaALPoLEg2T7O13gnYdZfrXI9KtOgwhg60LcGIrUDpkiBLrxR4LqBrfTQ=w556-h667-no?authuser=0);
  background-size: cover;
  background-repeat: no-repeat;
}

.unknownRoom {  
  color: rgb(71, 106, 171);
  background-image: url(https://lh3.googleusercontent.com/h63XaCsoJaoX1_5M_PZu3CqE4cOS6Y98M4BQQMq4bFwfDAYNOFoXv8DHx4Zb0hOxPNXqOf5uD6ox06pJWNFqp-cnwFoklyv-y4Jv0JkzwlARc2Nd-nNi2jniYEJ-ug9QSxIRYZOre-pxign54YVpLB4eMsBAO3v_uq1VOTE9vDGWp79hDrRWYXet585UxG4B5nWgdzl_V-gBjega3n9eKAtX-hq9aCi-BonO58LJFRkwB9BGARgDl1GYqp4Hf4OQD-yUooxNzvxob-e0jrXszcozpymPZrDcQOBgoy0ePOn_wDehp0TnpOBtj4b5jP-rTnm_HBFNLiz0XtaT_-1tZnB88NY6LZfFGbY3TGhUbAHHoh9sS4-Z1AP8pbcOBrY-lY6xcR2afNhNz1WhoHllU3gQJZAiZIgPQdefa1DGvb3A38PcPgoRrpQTdzb4PVUhQBf8ikzi7Rsx0NZoNafBgjzyFD2zJ3YjNbXwMfQERns8uARatQOxkOK64U8XixkQlm83AAB71HJLQtJ9TO25c9awxmeg0UaNT1hueYSCQDn0KTRuFtl8Dv767JrmREIQ1ZVnAAjpcmQvJygrxErcF22wiWOGvs8qN0QMt2PiVcICu5u5r6sv0MLgg0K7bMrANRH0r8PL3v-5xHcr7X8velLJJhwmeY7fQpuM4VrdxINEx3k06k8mmC0wsOgDGg=w1000-h1200-no?authuser=0);
  background-size: cover;
  background-repeat: no-repeat;
}
.cliffRoom {  
  color: rgb(3, 23, 61);
  background-image: url(https://lh3.googleusercontent.com/IlfMo7m10fzAbqwwdKfIZfCry28Nb5oHqfOddMUn6jMM98Larc_ruMiFxpjwt-PLnEiYEFx8hhs4JrMMRFZuLU-PXpFgbTmGU6Lq0KMO6Y8ObvemoWkCwDIksvf33zzwvKikbCigTBvnHELYwHq2UiVRrLHilBvAN_pKBzn-erZ3QQi37NV01kBOebRCb0CHTmsDEdYu3W6oFLuNLDBmWJ8QL6AqmYMM6zlkmfGIxJvU-jjaQDZsoDiZZGTSHQQO3qzRVb6O2t5zjEt4XFmtMDKik1PFwA6MRfOxHhH4O0Lrv_Hbp03YYV98F-XVqbFtFnGRnARM22QRub62AUSOBwgLLX3TfWJxjNyxHtEIDF0RsJDzaeq7TiPaIf9moQRUrUdqSCy5xXltn0dKG4Sv5p_NxzW0XJap8alepvhebaWvhz_t8H2l88p6qio20YWsktRBpOOfd610M_byBjwR-CJttNk1rbYvMcZp9FqOAOdxSwm58FkPtH05Cddp4B747U69gOw8wQ_QyTA-RrNAwNehQN75HDmuUTtEZMjdzbPJJNdUJu9aY9YpcqhlqgKGdZmizXuV50V86TAgipiTI5CS-bEHbdCUphF7NP2KeVwYLSjp3Gwi_BX5l98x8uZBAqhTKf0ApSizJPmbLg6G3xK2dBWzTRJMRA78kRpavqsPhaRSTOCFxMXIO7AthA=w1000-h1200-no?authuser=0);
  background-size: cover;
  background-repeat: no-repeat;
}
.cliff2Room {  
  color: rgb(3, 23, 61);
  background-image: url(https://lh3.googleusercontent.com/IlfMo7m10fzAbqwwdKfIZfCry28Nb5oHqfOddMUn6jMM98Larc_ruMiFxpjwt-PLnEiYEFx8hhs4JrMMRFZuLU-PXpFgbTmGU6Lq0KMO6Y8ObvemoWkCwDIksvf33zzwvKikbCigTBvnHELYwHq2UiVRrLHilBvAN_pKBzn-erZ3QQi37NV01kBOebRCb0CHTmsDEdYu3W6oFLuNLDBmWJ8QL6AqmYMM6zlkmfGIxJvU-jjaQDZsoDiZZGTSHQQO3qzRVb6O2t5zjEt4XFmtMDKik1PFwA6MRfOxHhH4O0Lrv_Hbp03YYV98F-XVqbFtFnGRnARM22QRub62AUSOBwgLLX3TfWJxjNyxHtEIDF0RsJDzaeq7TiPaIf9moQRUrUdqSCy5xXltn0dKG4Sv5p_NxzW0XJap8alepvhebaWvhz_t8H2l88p6qio20YWsktRBpOOfd610M_byBjwR-CJttNk1rbYvMcZp9FqOAOdxSwm58FkPtH05Cddp4B747U69gOw8wQ_QyTA-RrNAwNehQN75HDmuUTtEZMjdzbPJJNdUJu9aY9YpcqhlqgKGdZmizXuV50V86TAgipiTI5CS-bEHbdCUphF7NP2KeVwYLSjp3Gwi_BX5l98x8uZBAqhTKf0ApSizJPmbLg6G3xK2dBWzTRJMRA78kRpavqsPhaRSTOCFxMXIO7AthA=w1000-h1200-no?authuser=0);
  background-size: cover;
  background-repeat: no-repeat;
}
.lookLeftRoom {  
  color: rgb(27, 42, 206);
  background-image: url(https://lh3.googleusercontent.com/aA2pTkMFW_K2-mqBw63qKs9KLrcAIs1lD3iSeCGt5WKsngxA0xHQkO01Vywf_EjjAg52Xi5_ElTNeyHplcUEwG1WCfzFqdkbmq2ZtOVrKmm-GWDOjOLYX6KO7F4TKzqSswCMurmU-MrYlCmlHVFqBh4pgMPhiXlYSEsugqrsfKLubCBhdGJ7QJvsIwLqVT72AU6FVFP1OJRALbmR3Fl2r0TVQZ_xZ-TrCcZNEoeAj5FGQUZUVbM7zbXo63-d-2F6avl1HDY3SSpnh_X7bk7SaKjXnj9MxiaM82S1QCLp1zC6U_4aMqxFZJ_GFHKmUE341zsVDa39FzFBLgFlecvWAH0TyXsS2Rd6-wCH4iZ2c-2Ts8Myme0pEGdbTTxygFHlJiQRETjDGsQA1zkBQ9SMnqLfY3aQnjCIbfXMFkvf_9Hx9uR1H466v7gCXA1Ziz4E5raBUUDhgE8-PP2i9Ch0Uu8aC109Kwo60vRV3CzcLyuOPjIbLcupjn37Ga3NZS2kaqSEV3nvzQ_JQGezQTidoCvsqkmfBFBJiqv2djvVt4iSuavKkcGDXR7pgouVP0KROkqxLM09u6c-fIecT9xH8JvmjDLsV7yswM9UYBjgpoTs3yNteuN4RzTu-RXJAw15CK6TnSNdTbKkMfqxBRYw_ogiE-0lSASF6ZMBW_oCSV1JxIIrzB6AsHdtQcAzzA=w1000-h1200-no?authuser=0);
  background-size: cover;
  background-repeat: no-repeat;
}
.lookBehindRoom {  
  color: rgb(111, 153, 231);
  background-image: url(https://lh3.googleusercontent.com/JrSC7qvgstoL3frhxqKWQMEHUK_QzC5XguI9YAhujQy0dqjOH4SJu0FSDDeoRLxE2FSFpZTJLG4WTOOrkWSTglGlm5E1MWMoXb9o7-9j334GC5-NvzS8A5y5RGsIIp_ZSpQWz_TDkGKPPxcD2oq0UOcFK78NCmPFVwm4rqlJiW6Qo63ng3Qbtz7or03p17Vb3TR9rUhSyGlJGkBpBO999dn55jYa8hiQfI9z_3fDDnyGbNyJfmRNxbaetBEBxSFc-llf21M0r0iL3uvbhLpi5f-HAIJroP1TvLwkxkxwCu5Tr3JxFNf7AYIz6c2p3Da8c0PAp3TeizYX_9h6w8jPWFGbqsCZu0eBJ07jr2tZq5MbjKpnrih-g8ztbg64HdpqvTnf4vyNEGfKxM0LdRe4raHR-MycpKma3CLS9wnTqgkr3m8wibdSQhZl8fAGxpVatzfjKkj-4W2FyQ_h9Y6JZQS-FAt9GIomcfgbZZMOrecJ_G0O1M58D4Q1LJQbNH79aiBK1Tj6pU6DokqVKXChfLLR3eJLrB7r0CrMT7AyiI-w08JlWcq7WKJY2VtNZwIGPJyRod5jpsfAQLK-xhZCTdnB5le6hB2SMG7_XcCg1ZWdTWdV19jWX9DWHydsWoalchzwxhDr9sGsKqTwbcRjdzaYXINLIDj7jdxxVKJhCe-1ZHftSjFF5hV5u_ZMgQ=w1000-h1200-no?authuser=0);
  background-size: cover;
  background-repeat: no-repeat;
}
.askVoiceWhereRoom {  
  color: rgb(255, 255, 255);
  background-image: url(https://lh3.googleusercontent.com/aA2pTkMFW_K2-mqBw63qKs9KLrcAIs1lD3iSeCGt5WKsngxA0xHQkO01Vywf_EjjAg52Xi5_ElTNeyHplcUEwG1WCfzFqdkbmq2ZtOVrKmm-GWDOjOLYX6KO7F4TKzqSswCMurmU-MrYlCmlHVFqBh4pgMPhiXlYSEsugqrsfKLubCBhdGJ7QJvsIwLqVT72AU6FVFP1OJRALbmR3Fl2r0TVQZ_xZ-TrCcZNEoeAj5FGQUZUVbM7zbXo63-d-2F6avl1HDY3SSpnh_X7bk7SaKjXnj9MxiaM82S1QCLp1zC6U_4aMqxFZJ_GFHKmUE341zsVDa39FzFBLgFlecvWAH0TyXsS2Rd6-wCH4iZ2c-2Ts8Myme0pEGdbTTxygFHlJiQRETjDGsQA1zkBQ9SMnqLfY3aQnjCIbfXMFkvf_9Hx9uR1H466v7gCXA1Ziz4E5raBUUDhgE8-PP2i9Ch0Uu8aC109Kwo60vRV3CzcLyuOPjIbLcupjn37Ga3NZS2kaqSEV3nvzQ_JQGezQTidoCvsqkmfBFBJiqv2djvVt4iSuavKkcGDXR7pgouVP0KROkqxLM09u6c-fIecT9xH8JvmjDLsV7yswM9UYBjgpoTs3yNteuN4RzTu-RXJAw15CK6TnSNdTbKkMfqxBRYw_ogiE-0lSASF6ZMBW_oCSV1JxIIrzB6AsHdtQcAzzA=w1000-h1200-no?authuser=0);
  background-size: cover;
  background-repeat: no-repeat;
}
.mistyHandRoom {  
  color: rgb(60, 102, 180);
  background-image: url(https://lh3.googleusercontent.com/O9wyKvrOgNhl2jtG9FlFRaEVMHb9yDoG8quDi9STcKujjM20zwlfM0ouxZlRfNo8LM3y3hzDE55dEatCB5rjhZBJGcxmtxL9-r-gN5a5_nGqHJra792C2ROAkzLUT-7ftw7LlO2aIkDLbvHPnN-X-QKgOvBPedlfBMVdTHeIUkdO6mdJAiAmHd6RMbF-3nsFmvhR1Jcavy0HsWMA7v071uwL7uNVeOFGmZZArDckuO7vg2l9NVdoIMb-fEZZd4l4zRzpyGvqV5pXZsS3lInZMGxnHCTnCwBGIZLrmOlPFpdqQiCIHFxGw92fBsgEklVouQ2FJnvRCjRoP_9yvjfpDZYodOr6jJAENL9bhPhXNe2JHDuBk4O8AxcIdj0PYVSBkC8lxiHF3Tv9RX6pXvfRNpPOIsLNOjdZiZKODnueMJoibOMj-1Sp6qZgpYzJBpJ44sX7JTUE-0oCo4axmxr7LijzCBbrj9DLBrivDMKfbAh0zIfSCIl8pBskOzCroExpV2eXnjMAV0YP1qpmOfL_5NE3KB-_Qjz60PDlXdxszBum3xCq4qc7asCc7mm6gvXZaWKJ01LnvvHSbBgWf4829hXBzn-9WQeaandQDoj6CU9NT523_s0V5UpDDiqpMtZ4e8cIkbinDOD8C5e_aQeYLP9JYrBGodj920Kxc-PjWVjYC8j6Plwd60hN8-DHqw=w1000-h1200-no?authuser=0);
  background-size: cover;
  background-repeat: no-repeat;
}
.yesRoom {  
  color: rgb(24, 52, 104);
  background-image: url(https://lh3.googleusercontent.com/O9wyKvrOgNhl2jtG9FlFRaEVMHb9yDoG8quDi9STcKujjM20zwlfM0ouxZlRfNo8LM3y3hzDE55dEatCB5rjhZBJGcxmtxL9-r-gN5a5_nGqHJra792C2ROAkzLUT-7ftw7LlO2aIkDLbvHPnN-X-QKgOvBPedlfBMVdTHeIUkdO6mdJAiAmHd6RMbF-3nsFmvhR1Jcavy0HsWMA7v071uwL7uNVeOFGmZZArDckuO7vg2l9NVdoIMb-fEZZd4l4zRzpyGvqV5pXZsS3lInZMGxnHCTnCwBGIZLrmOlPFpdqQiCIHFxGw92fBsgEklVouQ2FJnvRCjRoP_9yvjfpDZYodOr6jJAENL9bhPhXNe2JHDuBk4O8AxcIdj0PYVSBkC8lxiHF3Tv9RX6pXvfRNpPOIsLNOjdZiZKODnueMJoibOMj-1Sp6qZgpYzJBpJ44sX7JTUE-0oCo4axmxr7LijzCBbrj9DLBrivDMKfbAh0zIfSCIl8pBskOzCroExpV2eXnjMAV0YP1qpmOfL_5NE3KB-_Qjz60PDlXdxszBum3xCq4qc7asCc7mm6gvXZaWKJ01LnvvHSbBgWf4829hXBzn-9WQeaandQDoj6CU9NT523_s0V5UpDDiqpMtZ4e8cIkbinDOD8C5e_aQeYLP9JYrBGodj920Kxc-PjWVjYC8j6Plwd60hN8-DHqw=w1000-h1200-no?authuser=0);
  background-size: cover;
  background-repeat: no-repeat;
}

.stayCliffRoom {  
  color: rgb(19, 48, 101);
  background-image: url(https://lh3.googleusercontent.com/WkRCZjniJcRGvc0A2Txs01Vr1UZYsawlr4SbuWZ6WlwZ-0h3f8Yr0eAw2P0kUe0Q_J3Y1OBeLPTt__mUwFpz2opwHCV-rMwhCedRcy62SyDAK31kUN-WP3qW2-_hg6fiFkcWPQ3gFwsf1WzW3F0f0kQJdAxwZ7qfEur-zG2mK4K6Z8wtv3wx9L-xNlgZym9TlLoIeGcNBUi9FjzYkcFTOYOD1-79Is2Tlm7vbQjrPP1uAjG3xfeq7A9PDwCYWVCaNqH6vIxvEUiwVjGHZBSwx2nlSOuj241H3BRFn9Ddj9-QOQY53sebDJTL4OR2sALnukw5dtAVTTWl3PrDeIlRsHc4UApMfRPaq2rW9fdAvLqrmrx9a-r82p4VR7HFZG7ZfeYkd-DM__JckJxNTCpqVw2iCO8ZWlXdX31M9q4NamIVVDIpzLxsV3IKHMgMdjb7jCmagNk_lzqQJLoSv0Ua3u-U_1Si8amD9eISByTnIoZaTYLYuSyP7AFH8V4v6PgGV31irHmS8OHKyj1Z5EFY4Gr5Ukdp5kONp7ETnp5EuV0H7dGpYXI3K2pZta4cUY4eUBDF1wjwgXHkSy98nB-gT5x7B41C4dxZyFnjqIkKVhopmD5Ij4eA2NuiCcBVDbM8M3ZzieaALPoLEg2T7O13gnYdZfrXI9KtOgwhg60LcGIrUDpkiBLrxR4LqBrfTQ=w556-h667-no?authuser=0);
  background-size: cover;
  background-repeat: no-repeat;
}
.followRoom {  
  color: rgb(24, 52, 104);
  background-image: url();
  background-size: cover;
  background-repeat: no-repeat;
}
.whatIsVoiceRoom {  
  color: rgb(24, 52, 104);
  background-image: url(https://lh3.googleusercontent.com/aA2pTkMFW_K2-mqBw63qKs9KLrcAIs1lD3iSeCGt5WKsngxA0xHQkO01Vywf_EjjAg52Xi5_ElTNeyHplcUEwG1WCfzFqdkbmq2ZtOVrKmm-GWDOjOLYX6KO7F4TKzqSswCMurmU-MrYlCmlHVFqBh4pgMPhiXlYSEsugqrsfKLubCBhdGJ7QJvsIwLqVT72AU6FVFP1OJRALbmR3Fl2r0TVQZ_xZ-TrCcZNEoeAj5FGQUZUVbM7zbXo63-d-2F6avl1HDY3SSpnh_X7bk7SaKjXnj9MxiaM82S1QCLp1zC6U_4aMqxFZJ_GFHKmUE341zsVDa39FzFBLgFlecvWAH0TyXsS2Rd6-wCH4iZ2c-2Ts8Myme0pEGdbTTxygFHlJiQRETjDGsQA1zkBQ9SMnqLfY3aQnjCIbfXMFkvf_9Hx9uR1H466v7gCXA1Ziz4E5raBUUDhgE8-PP2i9Ch0Uu8aC109Kwo60vRV3CzcLyuOPjIbLcupjn37Ga3NZS2kaqSEV3nvzQ_JQGezQTidoCvsqkmfBFBJiqv2djvVt4iSuavKkcGDXR7pgouVP0KROkqxLM09u6c-fIecT9xH8JvmjDLsV7yswM9UYBjgpoTs3yNteuN4RzTu-RXJAw15CK6TnSNdTbKkMfqxBRYw_ogiE-0lSASF6ZMBW_oCSV1JxIIrzB6AsHdtQcAzzA=w1000-h1200-no?authuser=0);
  background-size: cover;
  background-repeat: no-repeat;
}
.followRoom {  
  color: rgb(24, 52, 104);
  background-image: url();
  background-size: cover;
  background-repeat: no-repeat;
}
. {  
  color: rgb(24, 52, 104);
  background-image: url();
  background-size: cover;
  background-repeat: no-repeat;
}
. {  
  color: rgb(24, 52, 104);
  background-image: url();
  background-size: cover;
  background-repeat: no-repeat;
}


/*body {
    color: #eee;
    background-color: rgb(186, 233, 138);
    background-image: url();
    background-size: cover;
    background-repeat: no-repeat;
  }

  h1 {
    color: hsla(0, 66%, 37%, 0.664);
  }

  p {
    color: hsla(0, 66%, 37%, 0.664);
  }
  */

