/* https://www.pexels.com/ */


#legal {
  color: rgb(42, 60, 101);
}

h1 {
  color: hsla(218, 89%, 43%, 1);
}


.mainRoom {
    color: rgb(20, 44, 74);
    background-image: url(Beginnings_.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.darknessRoom {  
    color: rgb(71, 106, 171);
    background-image: url(Dark.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.stayRoom {  
  color: rgb(71, 106, 171);
  background-image: url(Dark.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.waitRoom {  
  color: rgb(71, 106, 171);
  background-image: url(Dark.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.stay2Room {  
  color: rgb(71, 106, 171);
  background-image: url(Dark.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.unknownRoom {  
  color: rgb(71, 106, 171);
  background-image: url(Other_Dark.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.cliffRoom {  
  color: rgb(3, 23, 61);
  background-image: url(Clif.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.cliff2Room {  
  color: rgb(3, 23, 61);
  background-image: url(Clif.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.lookLeftRoom {  
  color: rgb(27, 42, 206);
  background-image: url(Voice.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.lookBehindRoom {  
  color: rgb(111, 153, 231);
  background-image: url(Wall.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.askVoiceWhereRoom {  
  color: rgb(255, 255, 255);
  background-image: url(Voice.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.mistyHandRoom {  
  color: rgb(60, 102, 180);
  background-image: url(Walking_Away.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.yesRoom {  
  color: rgb(24, 52, 104);
  background-image: url(Walking_Away.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.stayCliffRoom {  
  color: rgb(19, 48, 101);
  background-image: url(Dark.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.followRoom {  
  color: rgb(24, 52, 104);
  background-image: url();
  background-size: cover;
  background-repeat: no-repeat;
}
.whatIsVoiceRoom {  
  color: rgb(24, 52, 104);
  background-image: url(Voice.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.followRoom {  
  color: rgb(24, 52, 104);
  background-image: url();
  background-size: cover;
  background-repeat: no-repeat;
}
. {  
  color: rgb(24, 52, 104);
  background-image: url();
  background-size: cover;
  background-repeat: no-repeat;
}
. {  
  color: rgb(24, 52, 104);
  background-image: url();
  background-size: cover;
  background-repeat: no-repeat;
}


/*body {
    color: #eee;
    background-color: rgb(186, 233, 138);
    background-image: url();
    background-size: cover;
    background-repeat: no-repeat;
  }

  h1 {
    color: hsla(0, 66%, 37%, 0.664);
  }

  p {
    color: hsla(0, 66%, 37%, 0.664);
  }
  */

